service routing protocols model multi-agent

ip prefix-list LOOPBACK
    seq 10 permit 192.168.101.0/24 eq 32
    seq 20 permit 192.168.102.0/24 eq 32
    seq 30 permit 192.168.201.0/24 eq 32
    seq 40 permit 192.168.202.0/24 eq 32
    seq 50 permit 192.168.254.0/24 eq 32

route-map LOOPBACK permit 10
  match ip address prefix-list LOOPBACK

router bgp {{ underlay[inventory_hostname]['BGP']['ASN'] }}
   router-id {{ underlay[inventory_hostname]['interfaces']['loopback0']['ipv4']}}

   no bgp default ipv4-unicast
   maximum-paths 3
   distance bgp 20 200 200

   neighbor SPINE_Underlay peer group  
   neighbor SPINE_Underlay remote-as {{ underlay[inventory_hostname]['BGP']['spine-ASN'] }}
   neighbor SPINE_Underlay send-community
   neighbor SPINE_Underlay maximum-routes 12000

   neighbor LEAF_Peer peer group
   neighbor LEAF_Peer remote-as {{ underlay[inventory_hostname]['BGP']['ASN'] }}
   neighbor LEAF_Peer next-hop-self
   neighbor LEAF_Peer maximum-routes 12000

   neighbor DCI peer group
   neighbor DCI remote-as 65000
   neighbor DCI send-community
   neighbor DCI maximum-routes 12000

   redistribute connected route-map LOOPBACK
{% for peer in underlay[inventory_hostname]['BGP']['spine-peers'] %}
   neighbor {{ peer }} peer group SPINE_Underlay
{% endfor %}

{% for peer in underlay[inventory_hostname]['BGP']['DCI-peers'] %}
   neighbor {{ peer }} peer group DCI
{% endfor %}    

{% if underlay[inventory_hostname]['MLAG'] == "Odd" %}
   neighbor 192.168.255.2 peer group LEAF_Peer
   {% else %}
   neighbor 192.168.255.1 peer group LEAF_Peer
{% endif %}

    address-family ipv4
      neighbor SPINE_Underlay activate
      neighbor LEAF_Peer activate
      neighbor DCI activate
      redistribute connected route-map LOOPBACK


      