
router bgp {{ underlay[inventory_hostname]['BGP']['ASN'] }}

   neighbor EVPN peer group
 
   neighbor EVPN remote-as {{ underlay['global']['DC1']['spine_ASN']}} 
 
  
    neighbor EVPN update-source Loopback0
    neighbor EVPN ebgp-multihop 3
    neighbor EVPN send-community 
    neighbor EVPN maximum-routes 0


{% for peer in underlay['global']['DC1']['spine_peers'] %}
   neighbor {{ peer }} peer group EVPN
{% endfor %}  
 
   address-family evpn
     neighbor EVPN activate

   address-family ipv4
     no neighbor EVPN activate